:root {
  --cui-border-color-translucent: rgba(255, 255, 255, .25);
  --cui-link-color: #007bff;
  --cui-link-hover-color: #0056b3;
  --cui-primary: #007bff;
  --vs-dropdown-option--active-bg: #80bfff !important;
  --vs-state-disabled-bg: rgba(255, 255, 255, .65) !important;
}

.bg-blurred {
    background: #ffffff !important;
  min-height: 100vh;
}

.bg-light {
  background-color: #ffffff !important;
}

import-map-overrides-full {
  display: none !important;
}


//header
.header {
  background: linear-gradient(120deg,
      rgba(255, 255, 255, .15),
      rgba(255, 255, 255, .55), 60%,
      rgba(255, 255, 255, .15));
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(10px);
}

// .user-arrow{
//   vertical-align: -0.245rem;
//   color: #007bff ;
// }

.dropdown-menu {
  --cui-dropdown-bg: rgba(255, 255, 255, 0.65) !important;
  --cui-dropdown-divider-margin-y: 0.1rem;
  --cui-dropdown-link-active-bg: #007bff;
  --cui-dropdown-link-hover-bg: rgba(255, 255, 255, 0.65) !important;
  box-shadow: 0 0 5px 1px rgba(149, 149, 149, 0.359);
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 12px;
}

#wrapper>.header {
  padding: 0px !important;
  display: block;
}

//sidebar
.sidebar {
  --cui-sidebar-brand-bg: #062039 !important;
  --cui-sidebar-brand-height: 4.1rem;
  --cui-sidebar-nav-link-padding-y: 0.6rem;
  --cui-sidebar-nav-link-icon-color: #ffffff !important;
  --cui-sidebar-nav-link-color: #ffffff !important;
  --cui-sidebar-nav-link-hover-bg: #0084ff !important;
  --cui-sidebar-nav-group-bg: rgb(24, 78, 179) !important;
  --cui-sidebar-nav-link-active-bg: rgba(11, 93, 151, 0.75) !important;
  --cui-sidebar-toggler-bg: rgba(0, 0, 21, 0.10);
  --cui-sidebar-toggler-hover-bg: rgba(0, 0, 0, 0.2);
  --cui-sidebar-nav-icon-height: 1.2rem !important;
  --cui-sidebar-bg: #062039 !important;
  background: solid #062039 !important;
}

.bgSideBar {
  background: linear-gradient(120deg,
      rgba(255, 255, 255, .05),
      rgba(255, 255, 255, .30), 40%,
      rgba(255, 255, 255, .05)) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(15px) !important;
}

.sidebar-nav {
  background-color: none !important;
}

.sidebar-brand {
  justify-content: left;
  padding-left: 10px;
}

.sidebar-nav .nav-group.show .nav-group-toggle {
  color: #000000;
}

//card
.card {
  background: linear-gradient(120deg,
      rgba(255, 255, 255, .20),
      rgba(255, 255, 255, .70), 70%,
      rgba(255, 255, 255, .20)) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(20px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(20px) saturate(110%) !important;
}

.card-header {
  background-color: rgba(0, 0, 0, .15) !important;
  backdrop-filter: blur(15px) saturate(150%) !important;
  min-height: 2.8em !important;
}

.card-header h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

//modal
.modal {
  background: linear-gradient(120deg,
      rgba(255, 255, 255, .10),
      rgba(255, 255, 255, .50), 70%,
      rgba(255, 255, 255, .10)) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(10px) !important;
  --cui-modal-bg: rgba(255, 255, 255, 0.65) !important;
}

.modal-header {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
}

.modal-backdrop {
  --cui-backdrop-bg: #010c1c0a !important;
}


// alert
.alert {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(15px) !important;
}

.alert-primary {
  --cui-alert-color: #0059ff;
  --cui-alert-bg: rgba(185, 209, 226, 0.45) !important;
  --cui-alert-border-color: #c5d2e7;
  --cui-alert-link-color: #0059ff;
}

.alert-secondary {
  --cui-alert-bg: rgba(229, 225, 226, .45) !important;
  --cui-alert-border-color: #e2e4e8;
}

.alert-success {
  --cui-alert-bg: rgba(205, 240, 216, .45) !important;
  --cui-alert-border-color: #cef0d9;
}

.alert-danger {
  --cui-alert-bg: rgba(253, 214, 214, .45) !important;
  --cui-alert-border-color: #fad4d4;
}

.alert-warning {
  --cui-alert-bg: rgba(253, 235, 198, .45) !important;
  --cui-alert-border-color: #fcebc8;
}

.alert-info {
  --cui-alert-bg: rgba(214, 235, 255, .45) !important;
}

.alert-light {
  --cui-alert-bg: rgba(251, 251, 252, .45) !important;
  --cui-alert-border-color: #f9fafa;
}

.alert-dark {
  --cui-alert-bg: rgba(220, 223, 227, .45) !important;
  --cui-alert-border-color: #caced5;
}

.nav-group .nav-group-items .nav-item a.nav-link {
  padding-left: 85px !important;
}

.nav-group .nav-group-items .nav-group .nav-group-items .nav-item .nav-link {
  padding-left: 105px !important;
}

.nav-group .nav-group-items .nav-group .nav-link {
  padding-left: 85px !important;
}

.nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-link {
  padding-left: 105px !important;
}

.nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-group-items .nav-item .nav-link {
  padding-left: 125px !important;
}

.nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-link {
  padding-left: 105px !important;
}

.nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-group-items .nav-group .nav-group-items .nav-item .nav-link {
  padding-left: 120px !important;
}



//rounded field input
.input-rounded input {
  border-radius: 0.375rem !important;
}

//button
.btn-primary {
  --cui-btn-color: rgba(255, 255, 255, 0.87);
  --cui-btn-bg: #007bff;
  --cui-btn-border-color: #007bff;
  --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
  --cui-btn-hover-bg: #0069d9;
  --cui-btn-hover-border-color: #0062cc;
  --cui-btn-focus-shadow-rgb: 75, 58, 223;
  --cui-btn-active-color: rgba(255, 255, 255, 0.87);
  --cui-btn-active-bg: #0069d9;
  --cui-btn-active-border-color: #0062cc;
  --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
  --cui-btn-disabled-color: rgba(255, 255, 255, 0.87);
  --cui-btn-disabled-bg: #007bff;
  --cui-btn-disabled-border-color: #007bff;
  --cui-btn-focus-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}

.btn-outline-primary {
  --cui-btn-color: #007bff;
  --cui-btn-border-color: #007bff;
  --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
  --cui-btn-hover-bg: #007bff;
  --cui-btn-hover-border-color: #007bff;
  --cui-btn-focus-shadow-rgb: 50, 31, 219;
  --cui-btn-active-color: rgba(255, 255, 255, 0.87);
  --cui-btn-active-bg: #007bff;
  --cui-btn-active-border-color: #007bff;
  --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
  --cui-btn-disabled-color: #007bff;
  --cui-btn-disabled-bg: transparent;
  --cui-gradient: none;
}

.btn-outline-secondary {
  background-color: #007bff !important;
  --cui-btn-color: #d4d4d4;
  --cui-btn-hover-color: #ffffff;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.swal2-popup {
  background: linear-gradient(120deg,
      rgba(255, 255, 255, .25),
      rgba(255, 255, 255, .70), 60%,
      rgba(255, 255, 255, .25)) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(15px) !important;
}

.swal2-styled.swal2-confirm {
  background-color: #007bff !important;
  border-radius: .45em !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5) !important;
}

.pagination {
  --cui-pagination-padding-x: 0.75rem;
  --cui-pagination-padding-y: 0.375rem;
  --cui-pagination-font-size: 0.8rem;
  --cui-pagination-color: #007bff;
  --cui-pagination-bg: rgba(255, 255, 255, .65) !important;
  --cui-pagination-border-width: 1px;
  --cui-pagination-border-color: #c4c9d0;
  --cui-pagination-border-radius: 0.375rem;
  --cui-pagination-hover-color: #0056b3;
  --cui-pagination-hover-bg: #e9ecef;
  --cui-pagination-hover-border-color: #c4c9d0;
  --cui-pagination-focus-color: var(--cui-link-hover-color);
  --cui-pagination-focus-bg: #d8dbe0;
  --cui-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
  --cui-pagination-active-color: rgba(255, 255, 255, 0.87);
  --cui-pagination-active-bg: #007bff;
  --cui-pagination-active-border-color: #007bff;
  --cui-pagination-disabled-color: #8a93a2;
  --cui-pagination-disabled-bg: rgba(255, 255, 255, .65) !important;
  --cui-pagination-disabled-border-color: #c4c9d0;
  display: flex;
  list-style: none;
}

.badge {
  --cui-badge-padding-x: 0.65em;
  --cui-badge-padding-y: 0.55em;
  --cui-badge-font-size: 0.85em;
  --cui-badge-font-weight: 600;
  --cui-badge-border-radius: 0.275rem;
}

//table
.table {
  padding: 0.2rem 0.5rem;
}

.table-responsive {
  margin-bottom: 0.7em !important;
}

.table-light {
  --cui-table-color: rgba(39, 24, 24, 0.95);
  --cui-table-bg: rgba(204, 239, 251, .75) !important;
}

tbody {
  background-color: rgba(255, 255, 255, .55) !important;
}

th {
  height: 2rem !important;
  vertical-align: middle;
}

.p-4 {
  padding: 1.2rem !important;
}

.form-check-input:checked {
  background-color: var(--cui-form-check-input-checked-bg-color, #007bff);
  border-color: var(--cui-form-check-input-checked-border-color, #007bff);
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: var(--cui-form-check-input-checked-bg-color, #007bff);
  border-color: var(--cui-form-check-input-checked-border-color, #007bff);
}

.form-check-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3);
  /* IE */
  -moz-transform: scale(1.3);
  /* FF */
  -webkit-transform: scale(1.3);
  /* Safari and Chrome */
  -o-transform: scale(1.3);
  /* Opera */
  transform: scale(1.3);
  padding: 5x;
}

.nav-pills {
  --cui-nav-pills-link-active-bg: #007bff;
}

.hide-on-empty:empty {
  display: none;
}

.footer {
  --cui-footer-bg: rgba(255, 255, 255, .10) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(15px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

//combobox
.v-select {
  background-color: rgba(255, 255, 255, .65) !important;
}

.vs__dropdown-toggle {
  margin-bottom: 1em;
}

.vs__dropdown-menu {
  background: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  backdrop-filter: blur(15px) !important;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.3) !important;

}

.list-group {
  --cui-list-group-active-bg: #c2c2c2 !important;
  --cui-list-group-active-border-color: #c2c2c2 !important;
}

.form-control {
  background-color: rgba(255, 255, 255, .65) !important;
}

.form-select {
  background-color: rgba(255, 255, 255, .65) !important;
}

//loader
.spinner {
  width: 97.6px;
  height: 97.6px;
  border-radius: 10px;
  animation: spinner-y0fdc1 2.4s infinite ease;
  transform-style: preserve-3d;
}

.spinner>div {
  background-color: rgba(255, 255, 255, 0.20);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.7px solid #ffffff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-28.8px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(28.8px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

select:focus>option:hover {
  background: rgb(132, 184, 221) !important;
}

.center-div {
  margin: 25px;

  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-icon {
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.icon-container {
  position: relative;
  width: 50%;
}

.margin-icon {
  margin: 0px 0px 16px;
}

.img-icon {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.icon-container:hover .img-icon {
  opacity: 0.5;
  cursor: pointer;
}

.sidebar {
  --cui-sidebar-nav-group-indicator:
    url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27rgba%2844, 56, 74, 0.87%29%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");

  // --cui-sidebar-nav-group-indicator-hover: 
  // url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27rgba%2844, 56, 74, 0.87%29%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

@media (min-width: 768px) {
  html:not([dir=rtl]) .sidebar .single-spa-container .sidebar.sidebar-fixed:not(.sidebar-end) {
    // left: 0;
    margin-left: 0px;
  }

  // .sidebar .single-spa-container .sidebar.sidebar-fixed {
  //   position: fixed;
  //   top: 0;
  //   bottom: 0;
  //   z-index: 1030;
  // }
}

@media (max-width: 767.98px) {
  // html:not([dir=rtl]) .sidebar .single-spa-container .sidebar:not(.sidebar-end):not(.show) {
  //     margin-left: calc(-1 * var(--cui-sidebar-width));
  // }
  // html:not([dir=rtl]) .sidebar .single-spa-container .sidebar:not(.sidebar-end) {
  //   left: 0;
  // } 
  // .sidebar .single-spa-container .sidebar {
  //   --cui-is-mobile: true;
  //   position: fixed;
  //   top: 0;
  //   bottom: 0;
  //   z-index: 1031;
  // }
}

.custom-mobile-bg {
  background-color: #cce5ff !important;
}

@media (min-width: 992px) {}